//-------------------------------- Navbar CSS --------------------------------//

.navBardemoBasicUsage md-content .ext-content {
  // padding: 50px;
  padding-bottom: 40px;
  margin: 20px;
}

.notification {
  color: $STEM-red;
  font-weight: bold;
}

// .navFlex {
//   display: flex;
// }

.md-button._md-nav-button {
  min-width: 0px;
  padding-right: 2px;
  padding-left: 2px;
}

@media screen and (max-width: 479px) {
  .md-button._md-nav-button {
    // background-color: magenta;
  }
}

//----------------------------------------------------------------------------//
